body {
    margin: 5px;
}

main {
    display: flex;
}

section {
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: center;
}

.search-panel {
    width: 30%;
    margin-left: 10px;
    padding-bottom: 10px;
}

.search-button-panel {
    margin-left: -52px;
}

.city-list-box {
    background-color: violet;
    margin-top: 5px;
}

.city-list {
    list-style-type: none;
}

.results-panel {
    width: 70%;
    padding-bottom: 10px;
    visibility: hidden;
}

.current-conditions-panel {
    outline: 1px solid black;
    padding-left: 10px;
    padding-bottom: 1px;
}

.name-block,
.uv-index-block {
    display: flex;
    align-items: center;
}

#uv-index {
    margin-left: 5px;
    padding: 5px 10px;
}

.forecast-panel {
    padding-top: 10px;
}

.container {
    display: inline;
}

.show-element {
    visibility: visible;
}

.favorable {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
    color: black;
}

.severe {
    background-color: red;
    color: white;
}