body {
    margin: 5px;
}

main {
    display: flex;
}

section {
    margin-top: -0.6%;
}

.header,
.row {
    display: flex;
    justify-content: center;
}

.search-panel {
    /* background-color: tomato; */
    width: 30%;
    margin-left: 5px;
    padding-bottom: 10px;
}

.search-button {
    margin-left: -2.7%;
}

.city-list-box {
    background-color: violet;
    margin-top: 5px;
}

.city-list {
    list-style-type: none;
}

.results-panel {
    /* background-color: teal; */
    text-align: center;
    width: 70%;
    padding-bottom: 10px;
}

.current-conditions-panel {
    outline: 1px solid black;
}